body {
  background-color: lightcoral;
  width: 100%;
  margin: 0;
  padding: 0;
}

.for-tablet {
  visibility: hidden;
  height: 0;
}

h1 {
  width: 70%;
  text-align: center;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-size: 30px;
  width: 70%;
}

.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img-wrapper img {
  width: 30%;
  height: 30%;
  object-fit: cover;
  margin: 10px;
}

/* desktop - 1350px - 4000px */
/* tablet - 600px - 960px */
/* mobile - 330px - 500px */

@media (max-width: 1000px) {
  body {
    background: lightblue;
  }

  .img-wrapper img {
    /* width: 300px;
    height: 300px; - fixed values (it's baaad:(((*/
    margin: 5px;
    width: 30%;
    height: 30%;
  }

  .for-tablet {
    visibility: visible;
    height: auto;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  body {
    background: lightyellow;
  }

  h1, p {
    width: 90%;
  }

  .img-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .img-wrapper img {
    width: 90%;
  }

  .for-tablet {
    visibility: hidden;
    height: 0;
  }
}