@use "rules";

footer {
  width: 100%;
  background: #9fd5ef;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  .footer-content {
    width: 80%;
    display: flex;
    // margin-bottom: 100px;

    .left-wrapper {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h4 {
        color: rules.$text;
        font-family: Manrope;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 4px;
        text-transform: capitalize;
      }

      h6 {
        width: 303px;
        color: rules.$text;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 10vh;
      }

      span {
        color: rules.$text;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        opacity: 0.5;
      }
    }

    .footer-links {
      width: 40%;
      display: flex;
      justify-content: space-between;

      .wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;

        h4 {
          color: rules.$red;
          font-family: Manrope;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .links-wrapper {
          display: flex;
          flex-direction: column;
          gap: 20px;

          a {
            color: rules.$text;
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 32px;
            text-decoration: none;
          }
        }
      }
    }
  }
}

@media (max-width: rules.$tablet) {
  footer {
    .footer-content {
      .left-wrapper {
        width: 50%;

        h4 {
          font-size: 30px;
        }

        h6 {
          font-size: 16px;
          width: auto;
        }

        span {
          font-size: 14px;
        }
      }

      .footer-links {
        width: 50%;

        .wrapper {
          gap: 20px;

          h4 {
            font-size: 20px;
          }

          .links-wrapper {
            gap: 10px;

            a {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: rules.$phone) {
  footer {
    .footer-content {
      flex-direction: column-reverse;
      gap: 30px;
      .left-wrapper {
        width: 100%;
        gap: 10px;

        h4 {
          text-align: center;
          font-size: 30px;
        }

        h6 {
          margin-bottom: 5vh;
          text-align: center;
        }

        span {
          font-size: 14px;
        }
      }

      .footer-links {
        width: 100%;
        .wrapper {
          h4 {
            text-align: center;
          }

          .links-wrapper {

            a {
              text-align: center;
            }
          }
        }
      }
    }
  }
}