@use "rules";

.bg {
  background: url("./assets/bg-hero.svg");
  background-size: cover;
  height: 130vh;
}

main {
  background: #9fd5ef;
}

.hiking-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;

  .hiking-content {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .follow-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      p {
        color: #fff;
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 24px;

        transform: rotate(90deg);
      }

      img {
        width: 24px;
        height: 24px;
      }
    }

    .hiking-guide {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 32px;

      .orange {
        height: 12px;
        display: flex;
        align-items: center;
        gap: 32px;

        .string {
          width: 72px;
          height: 4px;
          background: #dd8737;
        }

        .string.second {
          visibility: hidden;
        }

        span {
          color: #dd8737;
          font-family: Manrope;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
        }
      }

      h1 {
        color: #fff;
        font-family: Manrope;
        font-size: 88px;
        font-style: normal;
        font-weight: 600;
        line-height: 100px;
        text-transform: capitalize;
      }
    }

    .start-section {
      width: 77px;
      height: 240px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .start-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 40px;

        span {
          color: #fff;
          font-family: Manrope;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px;
        }
      }
    }
  }
}

@media (max-width: rules.$tablet) {
  .hiking-section {
    .hiking-content {
      flex-direction: column-reverse;
      gap: 20px;
      align-items: center;

      .follow-section {
        flex-direction: row;
        align-items: center;

        p {
          transform: none;
          margin: 0;
        }
      }

      .hiking-guide {
        align-items: center;
        h1 {
          font-size: 60px;
          text-align: center;
        }
          .orange {
            span {
              text-align: center;
            }
            .string.second {
              visibility: visible;
            }
          }
        
      }

      .start-section {
        display: none;
      }
    }
  }
}

@media (max-width: rules.$phone) {
  .hiking-section {
    .hiking-content {
      .hiking-guide {
        h1 {
          font-size: 40px;
          .break {
            display: none;
          }
        }
      }
    }
  }
}

.cards-section {
  padding-top: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  z-index: 10;
  transform: translateY(-20vh);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #9fd5ef 5.38%);

  .card {
    display: flex;
    width: 80%;

    .card-content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .article-wrapper {
        width: 60%;
        @include rules.card-content;

        h2 {
          position: absolute;

          font-family: Manrope;
          font-size: 240px;
          font-style: normal;
          font-weight: 700;
          line-height: 240px;
          opacity: 0.1;
          margin-top: 38px;
        }
      }
    }
  }
}

@media (max-width: rules.$tablet) {
  .cards-section {
    padding-top: 100px;
    transform: translateY(-40vh);

    .card {

      .card-content.second-card {
        flex-direction: column-reverse;
      }
      .card-content {
        flex-direction: column;

        .article-wrapper {
          width: 100%;

          h2{
            font-size: 150px;
            margin-top: -50px;
          }

          article {
            margin: 50px;
            align-items: center;
            .red {
              h5 {
                text-align: center;
              }
              .strip.invisible {
                visibility: visible;
              }
            }
            h3 {
              font-size: 55px;
              text-align: center;
            }
            p {
              text-align: center;
            }
          }
        }

        .card-img {
          object-fit: cover;
          height: 50vh;
        }
      }
    }
  }
}

@media (max-width: rules.$phone) {
  .cards-section {
    gap: 100px;
    .card {
      .card-content {
        gap: 25px;
        .article-wrapper {
          h2 {
            font-size: 100px;
            margin-top: -100px;
          }

          article {
            margin: 0;
            .red {
              // gap: 10px;

              .strip {
                width: 30px;
              }

              h5 {
                font-size: 15px;
                text-align: center;
              }
            }

            h3 {
              font-size: 45px;
              .break {
                display: none;
              }
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}