@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Manrope";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.bg {
  background: url("./assets/bg-hero.svg");
  background-size: cover;
  height: 130vh;
}

main {
  background: #9fd5ef;
}

.hiking-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.hiking-section .hiking-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiking-section .hiking-content .follow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hiking-section .hiking-content .follow-section p {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
  transform: rotate(90deg);
}
.hiking-section .hiking-content .follow-section img {
  width: 24px;
  height: 24px;
}
.hiking-section .hiking-content .hiking-guide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.hiking-section .hiking-content .hiking-guide .orange {
  height: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.hiking-section .hiking-content .hiking-guide .orange .string {
  width: 72px;
  height: 4px;
  background: #dd8737;
}
.hiking-section .hiking-content .hiking-guide .orange .string.second {
  visibility: hidden;
}
.hiking-section .hiking-content .hiking-guide .orange span {
  color: #dd8737;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.hiking-section .hiking-content .hiking-guide h1 {
  color: #fff;
  font-family: Manrope;
  font-size: 88px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  text-transform: capitalize;
}
.hiking-section .hiking-content .start-section {
  width: 77px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiking-section .hiking-content .start-section .start-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}
.hiking-section .hiking-content .start-section .start-content span {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

@media (max-width: 1200px) {
  .hiking-section .hiking-content {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
  .hiking-section .hiking-content .follow-section {
    flex-direction: row;
    align-items: center;
  }
  .hiking-section .hiking-content .follow-section p {
    transform: none;
    margin: 0;
  }
  .hiking-section .hiking-content .hiking-guide {
    align-items: center;
  }
  .hiking-section .hiking-content .hiking-guide h1 {
    font-size: 60px;
    text-align: center;
  }
  .hiking-section .hiking-content .hiking-guide .orange .string.second {
    visibility: visible;
  }
  .hiking-section .hiking-content .start-section {
    display: none;
  }
}
.cards-section {
  padding-top: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  z-index: 10;
  transform: translateY(-20vh);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #9fd5ef 5.38%);
}
.cards-section .card {
  display: flex;
  width: 80%;
}
.cards-section .card .card-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cards-section .card .card-content .article-wrapper {
  width: 60%;
}
.cards-section .card .card-content .article-wrapper article {
  margin: 150px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
}
.cards-section .card .card-content .article-wrapper article .red {
  color: #900000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.cards-section .card .card-content .article-wrapper article .red .strip {
  width: 72px;
  height: 2px;
  background: #900000;
}
.cards-section .card .card-content .article-wrapper article .red .strip.invisible {
  visibility: hidden;
}
.cards-section .card .card-content .article-wrapper article .red h5 {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.cards-section .card .card-content .article-wrapper article h3 {
  font-family: Manrope;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #1e1e1e;
}
.cards-section .card .card-content .article-wrapper article p {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  color: #1e1e1e;
}
.cards-section .card .card-content .article-wrapper article .read-more {
  display: flex;
  gap: 16px;
  align-items: center;
  color: #900000;
}
.cards-section .card .card-content .article-wrapper article .read-more h6 {
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.cards-section .card .card-content .article-wrapper h2 {
  position: absolute;
  font-family: Manrope;
  font-size: 240px;
  font-style: normal;
  font-weight: 700;
  line-height: 240px;
  opacity: 0.1;
  margin-top: 38px;
}

@media (max-width: 1200px) {
  .cards-section {
    padding-top: 100px;
    transform: translateY(-40vh);
  }
  .cards-section .card .card-content.second-card {
    flex-direction: column-reverse;
  }
  .cards-section .card .card-content {
    flex-direction: column;
  }
  .cards-section .card .card-content .article-wrapper {
    width: 100%;
  }
  .cards-section .card .card-content .article-wrapper h2 {
    font-size: 150px;
    margin-top: -50px;
  }
  .cards-section .card .card-content .article-wrapper article {
    margin: 50px;
    align-items: center;
  }
  .cards-section .card .card-content .article-wrapper article .red .strip.invisible {
    visibility: visible;
  }
  .cards-section .card .card-content .article-wrapper article h3 {
    font-size: 55px;
    text-align: center;
  }
  .cards-section .card .card-content .article-wrapper article p {
    text-align: center;
  }
  .cards-section .card .card-content .card-img {
    object-fit: cover;
    height: 50vh;
  }
}