@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$red: #900000;
$text: #1e1e1e;
body {
  margin: 0;
  padding: 0;

  * {
    font-family: "Manrope";
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@mixin card-content() {
  article {
    margin: 150px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    align-items: flex-start;
 
   .red {
      color: $red;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 24px;

      .strip {
        width: 72px;
        height: 2px;
        background: $red;
      }

      h5 {
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 6px;
        text-transform: uppercase;
      }
    }

    h3 {
      font-family: Manrope;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: $text;
    }
    p {
      font-family: Manrope;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      color: $text;
    }
    .read-more {
      display: flex;
      gap: 16px;
      align-items: center;
      color: $red;

      h6 {
        font-family: Manrope;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
      }
    }
  }
}

