.title-section {
  width: 100%;
}

@media (max-width: 400px) {
  body {
    width: 100%;
  }

  header img {
    width: 138px;
    height: 36px;
    margin: 14px auto 14px 0;
  }

  header nav,
  header .buttons-wrapper {
    visibility: hidden;
  }

  .title-section h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 54px;
  }

  .cards-section .card {
    width: 330px !important;
    height: auto !important;
    margin: 20px ;
  }

  header,
  .footer-head,
  .title-section,
  .cards-section,
  footer .footer-head,
  footer .footer-head .form,
  footer .footer-thumb .wrapper {
    flex-wrap: wrap;
    /* flex-direction: column; */
  }

  footer .footer-thumb {
    flex-direction: column;
  }

  footer .footer-head .footer-title {
    font-size: 24px;
    line-height: 34px;
  }

  footer .footer-head .form input {
    width: calc(100% - 40px) !important;
  }

  footer .footer-head .form button {
    width: 100% !important;
  }

  footer .big-logo-wrapper {
    width: 100% !important;
  }

  footer .big-logo {
    width: 335px !important;
    margin: 0;
  }
}

.title-section h1 {
  margin-bottom: 16px;
}

.title-section .plan-selector {
  margin-top: 40px;
  padding: 0px 2px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.title-section .plan-selector button {
  background: transparent;
  border: none;
  text-transform: none;
  padding: 10px 35px;
}

.title-section .plan-selector button.active {
  border-radius: 100px;
  border: 1px solid rgba(248, 250, 251, 0.1);
  background: rgba(248, 250, 251, 0.1);
}

.cards-section {
  width: 100%;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 95px;
}

.cards-section .card {
  width: 330px;
  height: 880px;
  padding: 30px;
  border-radius: 3px;
  border: 1px solid #3d3e3f;
  background: #2b2b2c;
  display: flex;
  flex-direction: column;
}

.cards-section .card .card-title {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
}

.cards-section .card .card-price {
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  margin-top: 16px;
  margin-bottom: 20px;
}

.cards-section .card .card-price .sign {
  font-size: calc(64px / 2);
  transform: translateY(-10px);
}

.cards-section .card .card-price-subtitle {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 350;
  line-height: 22px;
  margin-left: 16px;
}

.cards-section .card .name-functions {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.cards-section .card p::before {
  content: url(/practice-1/assets/bird.svg);
  margin-right: 13px;
}

.cards-section .card .p-wrapper {
  gap: 10px;
}

.cards-section .card .p-wrapper .margin-p {
  margin-left: 33px;
}

.cards-section .card p {
  margin: 0;
  color: #b4bcd0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
