@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #212121;
}

body * {
  font-family: "Roboto", sans-serif;
}

/* Animation */

@keyframes image-background-pulsing {
  0% {
    transform: scale(0.5) translateX(0);
    filter: blur(30px);
    background: rgba(0, 118, 244, 0.2);
  }

  30% {
    transform: scale(1) translateX(300px);
    filter: blur(40px);
    background: rgba(0, 118, 244, 0.6);
  }

  50% {
    transform: scale(1) translateX(-300px);
    filter: blur(50px);
    background: rgba(183, 0, 244, 0.7);
  }

  70% {
    transform: scale(1) translateX(300px);
    filter: blur(40px);
    background: rgba(0, 118, 244, 0.6);
  }

  100% {
    transform: scale(0) translateX(0);
    filter: blur(30px);
    background: rgba(0, 118, 244, 0.2);
  }
}

@keyframes background-pulsing {
  0% {
    transform: scale(0.5);
    filter: blur(50px);
    background: rgba(0, 118, 244, 0.2);
  }
  
  30% {
    transform: scale(1);
    filter: blur(60px);
    background: rgba(0, 118, 244, 0.6);
  }

  50% {
    transform: scale(1);
    filter: blur(70px);
    background: rgba(183, 0, 244, 0.7);
  }

  70% {
    transform: scale(1);
    filter: blur(60px);
    background: rgba(0, 118, 244, 0.6);
  }

  100% {
    transform: scale(0.5);
    filter: blur(50px);
    background: rgba(0, 118, 244, 0.2);
  }
}

.image-background-pulsing {
  position: absolute;
  top: 75%;
  width: 650px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: 10s linear infinite image-background-pulsing;
}

.background-pulsing {
  position: absolute;
  margin-top: 200px;
  width: 1000px;
  height: 820px;
  border-radius: 50%;
  animation: 10s linear infinite background-pulsing;
}

/* Effects */

.hoverable {
  transition: 0.5s;
}

.hoverable:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0.7px lightgrey;
}


.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

/* buttons */

button {
  color: white;
  padding: 18px 36px;
  text-transform: uppercase;
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: #0076f4;
}

button.secondary {
  background: transparent;
  border: 1px solid rgba(248, 250, 251, 0.1);
}

/* links */

a {
  color: #b4bcd0;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

/* Text */

h1 {
  text-align: center;
  font-size: 86px;
  font-style: normal;
  font-weight: 500;
  line-height: 96px;
  background: linear-gradient(
    180deg,
    #ebe0c6 7.93%,
    #efe8d8 20.99%,
    #f8f4ec 34.91%,
    #fffdfa 52.32%,
    rgba(255, 253, 250, 0.75) 87.1%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 74px;
  margin: 10px;
}

span.sup-title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 350;
  line-height: 30px;
  color: rgba(180, 188, 208, 1);
}

.box {
  width: 380px;
  height: 270px;
  border-radius: 4px;
  border: 1px solid rgba(225, 229, 237, 0.1);
  background: rgba(228, 238, 252, 0.05);
}

span.up-title {
  color: #0076f4;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.5px;
}
