.square {
  /* width: 100px; */
  height: 100px;
  background: grey;
}

.wrapper {
  width: 100%;
  display: grid;
  gap: 20px;
  margin: 10px;
}

.wrapper .square {
  width: 100px;
}

.wrapper-2 {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(3, 100px); */
  grid-template-columns: 1fr 3fr 2fr;
  gap: 20px;
}

.wrapper-2 .square {
  background: lawngreen;
}

.wrapper-3 {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 100px);
  /* grid-template-columns: 1fr 3fr 2fr; */
  margin-top: 20px;
}

.wrapper-3 .square {
  background: lightcoral;
}

.wrapper-4 {
  width: 100%;
  display: grid;
  gap: 20px;
  justify-content: end;
  grid-template-columns: repeat(3, 100px);
}

.wrapper-4 .square {
  background: blueviolet;
}

.wrapper-5 {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  align-items: center;
  justify-content: center;
  background: gray;
  gap: 20px;
}

.wrapper-5 .square {
  background: lightpink;
  /* flex для  центрування в блоці */
  display: flex;
  align-items: center;
  justify-content: center;
}
