$green: rgb(39, 243, 16);
$spacing: 10px;
$yellow: rgb(209, 209, 18);


@mixin theme() {
    border: 5px dotted blue;
    border-radius: 30px;
    margin: 20px;
}

body {
    margin: 0;
    padding: 0;
    background: gray;
}

article {
    @include theme;
    max-width: 50%;
    text-align: center;

    h2 {
        color: $yellow;

        span {
            color: $green;
        }
    }
}

.article {
    @include theme();

    background: white;
    padding: $spacing;

    .heading {
        font-size: 30px;

        #span {
            font-weight: 900;
            color: $green;
        }
    }
}