body {
  margin: 0;
  padding: 0;
  background: gray;
}

article {
  border: 5px dotted blue;
  border-radius: 30px;
  margin: 20px;
  max-width: 50%;
  text-align: center;
}
article h2 {
  color: rgb(209, 209, 18);
}
article h2 span {
  color: rgb(39, 243, 16);
}

.article {
  border: 5px dotted blue;
  border-radius: 30px;
  margin: 20px;
  background: white;
  padding: 10px;
}
.article .heading {
  font-size: 30px;
}
.article .heading #span {
  font-weight: 900;
  color: rgb(39, 243, 16);
}