@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.section {
  width: 75%;
  margin: 70px 0;
}

/* article xl  */

article.article.xl {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

article.article.xl h5 {
  color: #23a6f0;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

article.acrticle.xl h1 {
  color: #252b42;
  font-size: 58px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 80px;
  letter-spacing: 0.2px;
}

article.article.xl h4 {
  color: #737373;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.2px;
}

/* article */

article.article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article.article h6 {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
}

article.article h2 {
  color: #252b42;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}

article.article p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.custom-card {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  gap: 20px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.custom-card h5 {
  color: #252b42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.custom-card p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.custom-card .divider {
  width: 50px;
  height: 2px;
  background: #e74040;
}

.section .cards {
  margin-top: 70px;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.section.thumb-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffdcd1;
  padding: 160px 0;
}

.section.thumb-section .divider {
  width: 94px;
  height: 7px;
  background: #e74040;
}

.thumb-section .section-content {
  width: 80%;
  display: flex;
  align-items: center;
}

.thumb-section .thumb-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.thumb-section .thumb-content button {
  width: max-content;
}

.thumb-section .thumb-content h2 {
  color: #252b42;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.thumb-section .thumb-content p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}


.advice-section .cards-wrapper {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advice-section .cards-wrapper .advice-card {
  min-width: 30%;
}

.advice-section .cards-wrapper .advice-card .card-header {
  width: 100%;
  height: 300px;
  background-image: url("../assets/advice-card-1.svg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}



.advice-section .cards-wrapper .advice-card .card-header .badge {
  width: 50px;
  height: 24px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  --bs-badge-font-size: none;
}

.advice-section .cards-wrapper .advice-card .card-header .buttons-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* align-self: flex-end; */
  justify-self: flex-end;
  position: absolute;
  bottom: 25px;
  gap: 10px;
}

.advice-section
  .cards-wrapper
  .advice-card
  .card-header
  .buttons-wrapper
  button {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: white;
  border-radius: 50%;
}

.advice-section
  .cards-wrapper
  .advice-card
  .card-header
  .buttons-wrapper
  button:first-child
  i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice-section .advice-card .card-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
}

.advice-section .advice-card .card-body .card-body-header .bi-star-fill {
  color: var(--bs-warning);
}

.advice-section .advice-card .card-body .card-body-header h5 {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

.advice-section .advice-card .card-body h5 {
  color: #252b42;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1px;
  margin: 0;
}

.advice-section .advice-card .card-body p {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin: 0;
}

.advice-section .advice-card .card-body .download i {
  color: #737373;
}

.advice-section .advice-card .card-body .download h6 {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0;
}

.advice-section .advice-card .card-body .price {
  gap: 5px;
}

.advice-section .advice-card .card-body .price h5:first-child {
  color: #bdbdbd;
}

.advice-section .advice-card .card-body .price h5:last-child {
  color: #40bb15;
}

.advice-section .advice-card .card-body .stats {
  padding: 15px 0;
}

.advice-section .advice-card .card-body .stats span {
  color: #737373;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.advice-section .advice-card .card-body button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 30px;
}

.advice-section .advice-card .card-body button i::before {
 transform: translateY(2px);
}

.designer-card-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.designer-card-wrapper .designer-card {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
  align-items: center;
}

.designer-card-wrapper .designer-card .stars-wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.designer-card-wrapper a {
  color: #23a6f0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-decoration: none;
}

.designer-card-wrapper h6 {
  color: #252b42;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
}
