body {
  margin: 0;
  padding: 0;

}

h1:hover {
  color: rgb(181, 19, 217);
}

h1::before {
  content: "Before :)";
  color: blue;
}

h1::after {
 /* content: "]"; */
 content: "❤️";
 color: blueviolet;
 font-size: 100px;
}

p {
  width: 30%;
  background-color: dimgrey;
  font-size: 30px;
}

p::first-letter {
  color: yellow;
  font-size: 100px;
}

p::first-line {
  color: yellowgreen;
}

p::selection {
  color: chartreuse;
  background-color: cornflowerblue;
}

input {
 font-size: 60px;
}

input::placeholder {
 background: lightblue;
}

.image {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 300px);
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.image img{
  width: 300px;
  height: 250px;
  object-fit: cover;
  padding: 10px;
  transition: 0.3s;
}

.image img:nth-child(1):hover {
  filter: blur(5px);
}

.image img:nth-child(2):hover {
  filter: sepia(100%);
}

.image img:nth-child(3):hover {
  filter: contrast(50%);
}

.image img:nth-child(4):hover {
  filter: hue-rotate(120deg);
}

.image img:nth-child(5):hover {
  filter: grayscale(70%);
}

.image img:nth-child(6):hover {
  filter: opacity(10%);
}

.image img:nth-child(7):hover {
  filter: invert(10%);
}

.image img:nth-child(8):hover {
  filter: brightness(150%);
}
.image img:nth-child(9):hover {
  filter: saturate(20%);
}

.image img:nth-child(10):hover {
  filter: drop-shadow(8px 8px 8px red);
}

.second-section {
  --section-width: 100%;
  --quantity-of-child: 2;
  width: 100%;
  height: 300px;
  background: yellow;

  display: grid;
  grid-template-columns: 1fr;
}

.second-section .first-div {
  background: blue;
  width: calc(var(--section-width) / var(--quantity-of-child));
  height: 100%;
}