@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
}
body * {
  font-family: "Manrope";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  background: linear-gradient(330deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%), url(./assets/bg-sky.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hiking-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hiking-section .hiking-content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiking-section .hiking-content .follow-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.hiking-section .hiking-content .follow-section p {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
  transform: rotate(90deg);
}
.hiking-section .hiking-content .follow-section img {
  width: 24px;
  height: 24px;
}
.hiking-section .hiking-content .hiking-guide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}
.hiking-section .hiking-content .hiking-guide .orange {
  height: 12px;
  display: flex;
  align-items: center;
  gap: 32px;
}
.hiking-section .hiking-content .hiking-guide .orange .string {
  width: 72px;
  height: 4px;
  background: #dd8737;
}
.hiking-section .hiking-content .hiking-guide .orange span {
  color: #dd8737;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.hiking-section .hiking-content .hiking-guide h1 {
  color: #fff;
  font-family: Manrope;
  font-size: 88px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  text-transform: capitalize;
}
.hiking-section .hiking-content .start-section {
  width: 77px;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiking-section .hiking-content .start-section .start-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
}
.hiking-section .hiking-content .start-section .start-content span {
  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.bg-mountain {
  height: 1422px;
  background: url(./assets/bg-mountain.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.bg-mountain .bg-grass {
  height: 926px;
  background: url(./assets/bg-grass.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateY(30vh);
}
.bg-mountain .bg-gradient {
  height: 700px;
  background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #9fd5ef 61.38%);
  position: relative;
  transform: translateY(-20vh);
}

.cards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 200px;
  background: #9FD5EF;
}
.cards-section .card {
  width: 80%;
  display: grid;
}