@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(330deg, rgba(11, 29, 38, 0) 31.06%, #0b1d26 108.93%);
  background: url(./assets/bg-sky.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
body * {
  font-family: "Manrope";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}